.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px;
}
h1 {
    margin: 0;
}
.table-container {
    width: 96%;
    margin: 20px 2%;
}
table {
    width: 94%;
    margin: 20px 3%;
}
th.mat-sort-header-sorted {
    color: black;
}
.img {
    width: 100px;
    filter: drop-shadow(5px 5px 30px);
}