<div class="header">
  <img class="img" src="https://cdn.pixabay.com/photo/2014/04/02/17/00/aesculapian-307609_640.png" alt="">
  <h1>Remisiones de pacientes</h1>
</div>
<div class="mat-elevation-z8 table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by index"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.index}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ips">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ips"> IPS </th>
        <td mat-cell *matCellDef="let element"> {{element.ips}} </td>
      </ng-container>
  
      <ng-container matColumnDef="fechaAsignacionRegistro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fechaAsignacionRegistro"> Fecha asignación </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaasignacionregistro|date:'fullDate'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sexo"> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="edad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by edad"> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
      </ng-container>

      <ng-container matColumnDef="horaSalida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by horaSalida"> Hora salida </th>
        <td mat-cell *matCellDef="let element"> {{element.hora_salida}} </td>
      </ng-container>

      <ng-container matColumnDef="impresionesDiagnosticas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by impresionesDiagnosticas"> Impresión diagnóstica </th>
        <td mat-cell *matCellDef="let element"> {{element.impresiones_diagnosticas}} </td>
      </ng-container>

      <ng-container matColumnDef="objetoRemision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by objetoRemision"> Objeto remisión </th>
        <td mat-cell *matCellDef="let element"> {{element.objeto_remision}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>